<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<input type="hidden" id="parent" name="parent" th:value="${parent}"/>
<!-- Content Wrapper. Contains page content -->
<section class="content-header">
    <h1>
        字典信息
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header" style="padding-bottom: 0 !important;padding-top: 0 !important;">
                    <ol class="breadcrumb" style="margin-bottom: 0 !important; background: transparent;">
                        <li name="breadcrumb" th:each="breadcrumb, stat : ${breadcrumbs}"
                            th:utext="${stat.last} ? ${breadcrumb.text} :
                                |<a href=javascript:void(0); onclick=child('${breadcrumb.params['guid']}'); >${breadcrumb.text}</a>|"
                            th:class="${stat.last} ? ${breadcrumb.cls}"></li>
                    </ol>
                </div>
                <div class="box-body">
                    <table id="data_table" class="table table-bordered table-striped" width="100%">
                        <thead>
                        <tr>
                            <th width="140px">字典编号</th>
                            <th width="115px">字典内容</th>
                            <th width="115px">字典拼音</th>
                            <th width="115px">字典英文</th>
                            <th width="140px">排序</th>
                            <th width="115px">状态</th>
                            <th hidden="hidden">状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="var, stat : ${data}">
                            <td th:text="${var.number}"></td>
                            <td th:text="${var.content}"></td>
                            <td th:text="${var.pinyin}"></td>
                            <td th:text="${var.english}"></td>
                            <td th:text="${var.sort}"></td>
                            <td th:utext="${status.get(var.status)}"></td>
                            <td hidden="hidden" th:utext="${var.status}"></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'edit(\'' + ${var.number} + '\');'"
                                        th:data-original-title="'编辑（' + ${var.content} + '）字典'" data-placement="right">
                                    <span class="fa fa-edit"></span>编辑
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'disable(\'' + ${var.number} + '\');'" th:if="${var.status == 1}"
                                        th:data-original-title="'禁用（' + ${var.content} + '）字典'" data-placement="right">
                                    <span class="fa fa-ban"></span>禁用
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'valid(\'' + ${var.number} + '\');'" th:if="${var.status == 2}"
                                        th:data-original-title="'启用（' + ${var.content} + '）字典'" data-placement="right">
                                    <span class="fa fa-check-square-o"></span>启用
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn" th:onclick="'child(\'' + ${var.number} + '\');'"
                                        th:data-original-title="'查看（' + ${var.content} + '）子集'" data-placement="right">
                                    <span class="fa fa-search"></span>查看
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="common/layout :: datatables"></div>
<script th:inline="javascript">
    $(function () {
        //显示tooltip
        $("[data-original-title]").tooltip();
        $('.selectpicker').selectpicker();
    });

    $(function () {
        let opt = {
            container: '#data_table',
            order: [4, "asc"],
            columns: [
                {sClass: "text-left", sWidth: "100px", sScrollY: 40},
                {sClass: "text-left", sWidth: "100px", orderable: false},
                {sClass: "text-left", sWidth: "100px", orderable: false},
                {sClass: "text-left", sWidth: "100px", orderable: false},
                {sClass: "text-left", sWidth: "100px"},
                {sClass: "text-left", sWidth: "100px", orderable: false},
                {sClass: "text-left", visible: false},
                {sClass: "text-left", orderable: false}
            ],
            buttons: [
                {
                    id: 'add_btn',
                    type: 'button',
                    text: '新增',
                    title: '新增字典信息',
                    class: 'btn btn-success btn-sm',
                    action: function () {
                        load_url(/*[[@{/dictionary/add}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
                    }
                }, {
                    id: 'status_btn',
                    type: 'select',
                    text: '所有状态',
                    title: '字典状态选择',
                    class: 'selectpicker col-1',
                    options: [[${options}]],
                    action: function (data) {
                        var val = $.fn.dataTable.util.escapeRegex(data);
                        table.column(6).search(val ? '^' + val + '$' : '', true, false).draw();
                    }
                }
            ]
        };
        //dt-buttons
        let table = matchDomTable(opt, true);
        table.columns.adjust();
    });

    function goBreadcrumb(bc) {
        let params = {parent: $(bc).parent().attr('code')};
        load_url(/*[[@{/dictionary/index}]]*/ "", $('.content-wrapper'), params);
    }

    function edit(number) {
        load_url(/*[[@{/dictionary/edit}]]*/ "", $('.content-wrapper'), {number: number});
    }

    function disable(number) {
        let opt = {
            callback: function (result) {
                load_url(/*[[@{/dictionary/index}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
            }
        };
        ajax_action(/*[[@{/dictionary/disable}]]*/ "", {number: number}, opt);
    }

    function valid(number) {
        let opt = {
            callback: function (result) {
                load_url(/*[[@{/dictionary/index}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
            }
        };
        ajax_action(/*[[@{/dictionary/valid}]]*/ "", {number: number}, opt);
    }

    function child(number) {
        load_url(/*[[@{/dictionary/index}]]*/ "", $('.content-wrapper'), {parent: number});
    }
</script>
</html>