<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- TO DO List -->
<div class="box box-primary">
    <div class="box-header">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">To Do List</h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
        <ul class="todo-list">
            <li th:each="var: ${data}" th:id="${var.number}" style="cursor: move;">
                <!-- drag handle -->
                <span class="handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <span class="text" th:text="${var.content}"></span>
                <div class="tools">
                    <i class="fa fa-edit" th:onclick="'load(\'' + ${var.number} + '\')'"></i>
                </div>
            </li>
        </ul>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix no-border">
        <button type="button" class="btn btn-default pull-right" onclick="addItem();">
            <i class="fa fa-plus"></i>添加字典
        </button>
    </div>
</div>
<script th:inline="javascript">
    $(function () {
        //显示tooltip
        $("[data-original-title]").tooltip();
        $(".todo-list").height(win.height - 195).sortable({
                update: sort
            }
        ).disableSelection();
    });
    var addItem = function () {
        $('.form-horizontal')[0].reset();
        $('#guid').val('');
    }
</script>
</html>